---
layout: layouts/blog-wrapper.njk
activeNav: Blog
---
<div class="container py-5">
    <div class="row">
        <div class="col-md-8">
            {% for i in range(0,10) %}
                <article class="mb-3">
                    <a href="#" class="fs-3 text-decoration-none" style="color: #da5fff">A Blog Post! {{i}}</a>
                    <p class="mb-1 fw-light opacity-50">Read Time: 6 minutes</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente harum molestiae voluptates voluptas expedita quo, quibusdam assumenda iste ex, totam quasi, culpa velit autem. Dicta culpa quo et animi modi?</p>
                </article>
            {% endfor%}
        </div>
    </div>
</div>