---
layout: layouts/text.njk
title: Resume
activeNav: Resume

resume:
  name: Aurorah Harmony
  skills:
    - Python
    - JavaScript
    - TypeScript
    - NodeJS
    - Java
    - Docker
    - C++
    - MongoDB
    - PostgreSQL
    - PHP
    - Unreal Engine

  education:
    - name: Bachelor’s of Computer and Information Sciences
      date: 2023 - Present
      awarder: Auckland University of Technology

    - name: New Zealand Diploma in Web Development
      date: 2021 - 2022
      awarder: Vision College

    - name: New Zealand Certificate in Business Administration and Technology (2021)
      date: 2021
      awarder: Vision College

  experience:
    - name: E-Learning & LMS Software Developer
      date: October 2021 – February 2023
      responsibilities:
        - Architected, designed, and developed a Learning Management System.
        - Implemented automated testing for continuous integration.
        - Administered and maintained Debian based servers.
        - Contributed to an Agile environment with direct stakeholder communication.
        - Full stack development of a public facing promotional website.
        - Created documentation and user training materials for internal and external customers.

    - name: Web Development Learning Resource Developer
      date: July 2021 – October 2021
      responsibilities:
        - Authored learning exercises and tutor presentations on various web development topics such as front-end, back-end, and security basics.

    - name: Full Stack Developer & Website Administrator
      date: 2020 – Current
      responsibilities:
        - Work with clients to plan and develop custom websites to fit their needs.
        - Server deployment, administration, and maintenance.
        - Configure domains, DNS, and other relevant networking.
---

<h1 class="h2" style="color: #ff48e4">{{ resume.name }}</h1>
<p>
  My passion lies in exploring new technologies and applying them to real-world
  problem solving. With diverse technical experience in full-stack web
  development and a keen eye for detail, I am eager to contribute to a
  forward-thinking team driving positive changes in the tech space.
</p>

<div class="d-flex flex-wrap align-items-start justify-content-center p-2 mb-5">
  {% for word in resume.skills %}
  <span class="m-2 p-2 bg-light text-dark rounded">{{ word }}</span>
  {% endfor %}
</div>

<h2 style="color: #54d95f">Education</h2>

<div class="mb-5">
  {% for edu in resume.education %}
  <h3 class="font-base mb-0 h5 fw-bold">
    {{ edu.name }}
  </h3>
  <p>
    {% if edu.date %}({{ edu.date }}){%endif%}{% if edu.name and edu.date%} |
    {%endif%}<span class="fst-italic">{{ edu.awarder }}</span>
  </p>
  {% endfor %}
</div>

<h2 style="color: #2eedff">Experience</h2>
<div class="mb-5">
  {% for exp in resume.experience %}
  <div class="mb-4">
    <h3 class="font-base mb-0 h5 fw-bold">
      {{ exp.name }}
    </h3>
    {% if exp.date %}
    <p class="mb-2">({{ exp.date }})</p>
    {% endif%} {% if exp.responsibilities %}
    <ul>
      {% for responsibility in exp.responsibilities %}
      <li>{{ responsibility }}</li>
      {% endfor%}
    </ul>
    {% endif %}
  </div>
  {% endfor %}
</div>

<h2 style="color: #ffc22a">Clubs and Organisations</h2>
<ul>
  <li>Executive of CSEA (Computer Science and Engineering Association)</li>
  <li>Executive of Rainbow Club</li>
  <li>Moderator for the Freedom of Form Foundation</li>
  <li>Furdu 2024 Volunteer</li>
  <li>Member of IEEE (Institute of Electrical and Electronics Engineers)</li>
  <li>Member of OWASP (Open Worldwide Application Security Project)</li>
  <li>Member of IPTNZ (IT Professionals NZ)</li>
</ul>
