---
layout: layouts/base.njk
inject:
    head: <link href="/assets/blog-post.css" rel="stylesheet">
---
<div class="bg-gradient-deep-pink pt-5 pb-1">
    <div class="container">
        <h1 class="mb-0">Blog</h1>
        <p class="fs-4 fw-light mb-0 blog-post-content">Aurorah Afterdark</p>
        <p class="fw-light">A captivating journey of personal projects that transcend the night.</p>
    </div>
</div>
{{ content | safe }}